<div class="lesson-skin-stage lesson-skin-stage-ocean">
    {{#hasglobalnavigation}}
        <nav class="lesson-skin-region lesson-skin-region-globalnavigation">
            {{{globalnavigation}}}
        </nav>
    {{/hasglobalnavigation}}
    {{#hasprogress}}
        <aside class="lesson-skin-region lesson-skin-region-progress">
            {{{progress}}}
        </aside>
    {{/hasprogress}}
    {{#hasattemptheading}}
        <div class="lesson-skin-region lesson-skin-region-attemptheading">
            {{{attemptheading}}}
        </div>
    {{/hasattemptheading}}
    {{#hasscore}}
        <div class="lesson-skin-region lesson-skin-region-score">
            {{{score}}}
        </div>
    {{/hasscore}}
    <section class="lesson-skin-region lesson-skin-region-main">
        {{{maincontentanchor}}}
        {{{content}}}
    </section>
</div>
